:root {
  --volux-font: "Segoe UI", Tahoma, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--volux-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
body *:not(svg):not(path) {
  font-family: var(--volux-font) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
